@page "/Index"

@inject CombosServices comboService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle></PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header">
            <h5 class="card-title">Registro de Combos</h5>
        </div>

        <div class="card-body">

            @*labels*@
            <div class="row">

                @*Filtrar por*@
                <div class="col-3">
                    <label class="col-form-label"><strong>Filtrar por</strong></label>
                </div>

                @*ValorFiltro*@
                <div class="col-4">
                    <label class="col-form-label"><strong>B&uacute;squeda</strong></label>
                </div>
            </div>

            @*Inputs y botones*@
            <div class="row align-items-center">
                @*filtro*@
                <div class="col-3">
                    <InputSelect class="form-select" @bind-Value="Filtro">
                        <option value="" selected disabled>Elija una opci&oacute;n</option>
                        <option value="-">Fecha</option>
                        <option value="Descripcion">-</option>
                    </InputSelect>
                </div>

                @*Busqueda*@
                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control" @bind="ValorFiltro" placeholder="Buscar" />
                        <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
                    </div>
                </div>

                @*Restablecer*@
                <div class="col-auto">
                    <button type="button" class="btn btn-outline-secondary bi bi-arrow-clockwise" @onclick="Restablecer"></button>
                </div>

                @*FiltroFecha*@
                <div class="row mt-3">

                    @*Desde*@
                    <div class="col-3">
                        <label class="col-form-label"><strong>Desde</strong></label>
                        <InputDate class="form-control" @bind-Value="Desde"></InputDate>
                    </div>

                    @*Hasta*@
                    <div class="col-3">
                        <label class="col-form-label"><strong>Hasta</strong></label>
                        <div class="input-group">
                            <InputDate class="form-control" @bind-Value="Hasta"></InputDate>
                        </div>

                    </div>
                </div>

            </div>

            <table class="table table-hover">
                <thead class="text-center">
                    <tr>
                        <th><strong>ComboId</strong></th>
                        <th><strong>Fecha</strong></th>
                        <th><strong>Descripcion</strong></th>
                        <th><strong>Precio</strong></th>
                        <th><strong>Editar</strong></th>
                        <th><strong>Eliminar</strong></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (var combo in ListaCombos)
                    {
                        <tr>
                            <td>@combo.ComboId</td>
                            <td>@combo.Fecha</td>
                            <td>@combo.Descripcion</td>
                            <td>@combo.Precio</td>

                            <td class="text-center">
                                <a href="/Edit/@combo.ComboId" class="btn btn-outline-primary bi bi-pencil-square"></a>
                            </td>

                            <td class="text-center">
                                <a href="/Delete/@combo.ComboId" class="btn btn-outline-danger bi bi-trash"></a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="/Create" class="btn btn-primary"> <span class="bi bi-plus-square mt-3"></span> Crear</a>
        </div>
    </div>
</div>

@code {
    public List<Combos> ListaCombos { get; set; } = new List<Combos>();

    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;
    public DateTime? Desde { get; set; }
    public DateTime? Hasta { get; set; }


    protected override async Task OnInitializedAsync()
    {
        ListaCombos = await comboService.Listar(c => c.ComboId > 0);
    }

    private async Task Buscar()
    {
        if (ValorFiltro.Trim() != "")
        {
            if (Filtro == "Descripcion")
            {
                ListaCombos = await comboService.Listar(c => c.Descripcion.ToLower().Equals(ValorFiltro.ToLower()));
            }
            
        }
        else if (Filtro == "Fecha")
        {
            ListaCombos = await comboService.Listar(f => f.Fecha >= Desde && f.Fecha <= Hasta);
        }
        else
        {
            
        }
            
    }
    private async Task Restablecer()
    {
        ListaCombos = await comboService.Listar(e => e.ComboId > 0);
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
    }

}
